<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is EJS </h1>
    <p>here we can creat a html home page and can render in the express js using 
        <b>EJS</b>. <br><br>
        <i>this make very easy to use it and easy to understand.</i><br><br>
        <b>But make sure you make a sepered file named --> <i>views</i> then make an file name with -> <i>.ejs extention</i></b>
         <br> <br> 
        <h2>we have to make a file named - views 
            because when we will render(home.ejs) then express will search for the views file in the same directry then seach for home.ejs file
            <i>res.rendeer search with the name </i>
        
        </h2>
    </p>
    <button>Click Me!</button>
</body>
</html> 







