<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram page</title>
    <!-- adding static css file in this file -- because we have used express.static("public") -->
    <link rel="stylesheet" href="/style.css">
</head>


<!-- MAKE SURE YOUR includes  FOLDER IS IN THE VIEWS FOLDER THEN ONLY THIS WORKS -->
<!-- ----------------- INCLUDES CONSEPT    -------------------->
 <!-- 1. we can include html file in another html file using include() function in express.js
  2. we can include js file in another js file using import statement in js
  3. we can include css file in another css file using @import statement in css
  4. we can include js file in another html file using script tag in html   
  5. we can include css file in another html file using link tag in html -->

<!-- -------------------HOW TO USE INCLUDE  ----------------------->
 <!-- 1. we can use include() function in express.js to include html file in another html
  2. we can use import statement in js to include js file in another js file
  3. we can use @import statement in css to include css file in another css file
  4. we can use script tag in html to include js file in another html file
  5. we can use link tag in html to include css file in another html file -->
  