<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <form method="post" action="http://localhost:8080/posts">
        <!-- <label for="title">ID:</label>
        <input type="text" name="id" ><br><hr> -->
        <label for="username">Enter @Username:</label>
        <input type="text"  name="username" ><br><hr>
        <label for="content">Enter Content here :</label>
        <textarea name="content" ></textarea><br><hr>
        <button>Post</button>
    </form>
</body>
</html>